{
  "extends": "react-app",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "create": true,
    "shallow": true,
    "render": true,
    "mount": true
  }
}